# Same general idea as eslintignore, but focus on avoiding generated or binary files

# Build outputs
build/
dist/
.next/
turbo/

# Node
node_modules/

# Firebase
.firebase/
.firebase-debug.log

# Mobile platforms
apps/mobile/android/
apps/mobile/ios/
apps/mobile/.expo/
apps/mobile/.expo-shared/

# Backend generated/ignored
packages/backend/logs/
packages/backend/temp/
packages/backend/firebase-service-account/

# Ignore lockfiles and config cache
*.lock
*.log
*.tsbuildinfo

# IDEs
.vscode/
.idea/
